.mainHeader {
  padding: 20px 0;
}

.mainNavAuth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}


.mainNavAuth .userNav {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 768px) {

  }
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartLabel {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  border-radius: 50%;
  font-weight: 700;
}

.mainNavNotAuth .userNav{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 480px) {
    justify-content: center;
  }
}



