@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
  --main-light-100: rgba(224, 225, 230, 1);
  --main-light-30: rgba(224, 225, 230, 0.3);
  --main-light-10: rgba(224, 225, 230, 0.1);
  --main-dark-100: rgba(10, 8, 28, 1);
  --main-dark-90: rgba(16, 16, 34, 0.9);
  --main-dark-80: rgba(36, 40, 83, 0.8);
  --accent: rgba(61, 159, 172, 1);
  --success: rgba(50, 181, 94, 1);
  --error: rgba(223, 84, 97, 1);
  --hover: rgba(97, 96, 115, 1);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-light-100);
  background-color: var(--main-dark-100);
  min-height: 100vh;
}

body {
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  display: inline-block;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

*::placeholder {
  color: inherit;
}

.main {
  margin-top: 135px;
  /* flex-grow: 1; */
}

.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.error {
  color: var(--error);
  padding: 5px;
}

.alignCenter {
  text-align: center;
}

.text {}

.title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}
